<div class="container">
    <header>
        <h1>Welcome, {{ userName }}!</h1>
    </header>

    <!-- Account Overview Section -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Account Overview</h5>
            <ul class="list-group list-group-flush">
                <li *ngFor="let account of accounts" class="list-group-item">
                    <strong>{{ account.type }}</strong>: ${{ account.balance }}
                </li>
            </ul>
        </div>
    </div>

    <!-- Recent Transactions Section -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Recent Transactions</h5>
            <ul class="list-group list-group-flush">
                <li *ngFor="let transaction of recentTransactions" class="list-group-item">
                    <strong>{{ transaction.date }}</strong>: {{ transaction.description }} - ${{ transaction.amount }}
                </li>
            </ul>
        </div>
    </div>
</div>
